*{
    z-index: 99;

}
.header{
    z-index: 99;
    margin-left: 30px;
}

.navbar-brand .navbar-logo{
    left: 18.58%;
    right: 77.21%;
    top: 1.12%;
    bottom: 98.24%;

    /* primary */
}
.navbar-brand .puma-name{
    width: 64px;
    height: 33px;
    left: 260px;
    top: 58px;

    /* Subheading / Base

    Subheading / Base
    */
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    /* identical to box height, or 33px */


    /* Black */

    color: #1A0A03;
}
.navbar-nav .nav-link{
    width: 45px;
    height: 26px;
    left: 425px;
    margin-right: 30px;
    margin-left: 30px;
    top: 56px;

    font-family: 'monospace';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    /* identical to box height, or 26px */


    /* primary */

    color: #1A0A03;

    opacity: 0.7;
}

.life-section .life-content .life-content__title{
    width: 366px;
    height: 216px;
    left: 230px;
    top: 205px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;

    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 120%;
    /* or 73px */


    /* Black */

    color: #1A0A03;
}
.life-section .life-content .life-content__p{
    width: 366px;
    left: 230px;
    margin-bottom: 169px;
    margin-top: -60px;
    margin-left: 60px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 41px;
    line-height: 120%;
    /* or 73px */


    /* Black */

    color: orange;
}

.life-section .life-content  .life-content__desc{
    width: 326px;
    left: 230px;
    margin-bottom: 169px;
    margin-top: -60px;
    margin-left: 60px;

    /* Body / Base

    Body / Base
    */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */


    /* Black */

    color: #1A0A03;

    opacity: 0.7;
}

.life-content__img .image{
    width: 598px;
    height: 400px;
    left: 745px;
    top: 131px;
    background: url("assects/images/bacgraund.png");
}

.video-section-h3{
    margin-top: 100px;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: #EE5514;
}

.video-section-h2{
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 130%;
    color: #1A0A03;
}

.video-section-p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #1A0A03;
    opacity: 0.7;
}

.video-section-img{
    margin-top: 100px;
}



.newsletter-section{
    width: 100%;
    padding-left: 150px;
    margin-top: 150px;
}
.newsletter-section__2{
    background-color: #F2F6FB;
    height: 335px;
    margin-top: 29px;
    border-radius: 0px 10px 10px 0px;

}
.newsletter-section__img{
    border-radius: 10px 0px 0px 10px;
}

.newsletter-section__title{
    font-family: monospace;
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 140%;
    color: #1A0A03;
    margin-top: 50px;
    margin-left: 10px;
}
.newsletter-section__text{
    font-family: monospace;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #1A0A03;
    margin-left: 10px;

    opacity: 0.7;
}
.copyright{
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;

    text-align: center;


    color: #1A0A03;

    opacity: 0.7;
}
.line{
    opacity: 0.2;
    border: 1px solid #A6A4A4;
}
